.wp-block-uicore-button{align-items:center;display:inline-flex;width:-moz-max-content;width:max-content}.wp-block-uicore-button .wp-block-uicore-icon{overflow:visible}.wp-block-uicore-button .wp-block-uicore-icon svg{transform:scale(1.5)}
