/**
 * Section Block Editor Styles
 */

.wp-block-flexblocks-section {
	// Editor-specific styles
	&.is-selected {
		outline: 1px dashed #007cba;
		outline-offset: -1px;
	}

	// Placeholder styles
	.block-editor-inner-blocks > .block-editor-block-list__layout {
		min-height: 50px;
	}

	// Empty state
	&:not(.has-child-blocks) {
		.flexblocks-section-inner {
			min-height: 100px;
			display: flex;
			align-items: center;
			justify-content: center;

			&::before {
				content: "Add blocks inside this section";
				color: #999;
				font-size: 14px;
				font-style: italic;
			}
		}
	}
}

// Ensure InnerBlocks appender is visible
.wp-block-flexblocks-section {
	.block-list-appender {
		margin: 0;
	}
}

