/**
 * Section Block Frontend Styles
 */

.wp-block-flexblocks-section {
	position: relative;
	width: 100%;
	box-sizing: border-box;

	.flexblocks-section-inner {
		width: 100%;
		height: 100%;
	}
}

// Ensure proper nesting
.wp-block-flexblocks-section .wp-block {
	max-width: 100%;
}

